{
    "presets": [[
        "@babel/env",
        {
            "corejs": 3,
            "useBuiltIns": "usage",
            "debug": true,
            "modules": false
        }], "@babel/react"],

    "ignore": ["node_modules"]
}