.content-wrap {
  width: 1000px;
  background-color: #F8F9FA;
  min-height: 200px;
}

.phones-grid {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-around;
  
}

.nocontent-label {
  font-size: 1rem;
  display: inline;
  color: gray;
}