.grid-element {
  height: 400px;
  margin: 10px;
  
  box-shadow: 0 0 3px rgb(192, 192, 192);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;

  background-color: white;
  border-radius: 20px;

  .info {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    .price {
      font-size: 1.4rem;
      font-weight: 600;
      
      &::after {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        content: " ₽";
      }
    }
  }
}



.rom-switcher {
  margin-top: 20px;
  .btn:nth-child(2) {
    margin-left: 10px;
  }
}

.color-switcher {

  width: 100px;
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .color-wrapper {
    border-radius: 5px;
    border: 2px solid black;
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .color {
    height: 100%;
    box-shadow: 0 0 2px gray;
  }

  .picked {
    border: 4px solid black;
  }
}